.pagination {
  margin-top: 3.0rem;
  text-align: center;
  li {
    display: inline;
    text-align: center;
    span {
      margin: 0;
      text-align: center;
      width: 3.2rem;
    }
    a {
      span {
        margin: 0;
        text-align: center;
        width: 3.2rem;
      }
    }
  }
}
