<nav class="navigation pure-g">
	{{ if .Site.Params.showNavTitle }}
	<section class="pure-u-1 pure-u-md-1-2 nav-left">
    <a href="{{.Site.BaseURL}}">
      <h1 class="nav-title title-shadow white">{{ .Site.Title }}</h1>
    </a>
  </section>
  <section class="pure-u-1 pure-u-md-1-2 nav-right">
    {{ with .Site.Menus.main}}
      {{ range . }}
        <a href="{{ .URL | relLangURL }}">{{ .Name }}</a>
      {{ end }}
    {{ end }}
  </section>
  {{ else }}
  <section class="pure-u-1 nav-right">
    {{ with .Site.Menus.main}}
      {{ range . }}
        <a href="{{ .URL | relLangURL }}">{{ .Name }}</a>
      {{ end }}
    {{ end }}
  </section>
  {{ end }}
</nav>
